.AppContainer__logoContainer{
  width: 100%;
  height: 20%;
  
}

.AppContainer__logoImg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit:cover;
}