.AppContainer__task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  border-radius: 7px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.AppContainer__task:nth-child(3n + 1){
  background-color: #1b1b32 ;
}

.AppContainer__task:nth-child(3n + 2){
  background-color: #2a2a40 ;
}

.AppContainer__task:nth-child(3n + 3){
  background-color: #3b3b4f ;
}

.AppContainer__task--completed.AppContainer__task{
  background-color: #5a01a7;
  text-decoration: line-through;
}

.AppContainer__textTask{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  overflow-wrap: anywhere;
}

.AppContainer__iconTask{
  width: 25px;
  height: 25px;
  margin: 5px;
}