@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100vw;
  height: 100vh;
}

body, #root{
  width: 100%;
  height: 100%;
  color: whitesmoke;
  background-color: #1b1b32;
  font-family: 'Roboto', sans-serif;
}